	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	@font-face {
        font-family: 'Minecraft';
        src: url("../Minecraft.otf") format('opentype')
    }

	.top {
		height: 70vh;
		width: 100vw;
		display: grid;
		grid-template-rows: auto auto;
		place-content: center;
		position: relative;
		overflow: hidden;
		place-items: center;
	}
	
	.top::before {
		content: "";
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: 
			linear-gradient(-25deg, rgba(255, 218, 97, 0.205) 0%, rgba(255, 163, 57, 0.808) 100%),
			url('../cdn/banner.png') no-repeat center center / cover;
		background-attachment: scroll;
		background-blend-mode: screen;
		transform: scale(1.1) translate(var(--mouse-x, 0px), var(--mouse-y, 0px));
		filter: blur(4px) brightness(1.2);
		box-shadow: 0 0 20px 10px #fff;
		animation: pulse 120s ease-in-out infinite;
		transition: transform 0.1s ease-out;
	}

	@keyframes rotate {
		0% {rotate: 0deg}
		100% {rotate: 360deg;}
	}
	@keyframes rock {
		0% {rotate: 0deg}
		25% {rotate: 1deg;}
		50% {rotate: 0deg;}
		75% {rotate: -1deg;}
		100% {rotate: 0deg}
	}
	@keyframes rockxy {
		0% {translate: 0px 0px}
		25% {translate: 0px 2px}
		50% {translate: 0px 0px}
		75% {translate: 0px -2px}
		100% {translate: 0px 0px}
	}
	@keyframes rockx {
		0% {translate: 0px 0px}
		25% {translate: 10px 0px}
		50% {translate: 0px 0px}
		75% {translate: -10px 0px}
		100% {translate: 0px 0px}
	}

	@keyframes pulseoutline {
		0% {outline: 1px solid rgba(0, 0, 0, 0);}
		50% {outline: 1px solid black;}
		0% {outline: 1px solid rgba(0, 0, 0, 0);}
	}
	

	@keyframes pulse {
		0% {
			filter: blur(4px) brightness(1);
			box-shadow: 0 0 20px 5px #fff;
		}
		10% {
			filter: blur(0px) brightness(1.1);
			box-shadow: 0 0 30px 15px #fff;
		}
		20% {
			filter: blur(8px) brightness(1.3);
			box-shadow: 0 0 40px 15px #fff;
		}
		30% {
			filter: blur(0px) brightness(1);
			box-shadow: 0 0 3px 15px #fff;
		}
		40% {
			filter: blur(4px) brightness(1.2);
			box-shadow: 0 0 10px 15px #fff;
		}
		49% {
			filter: blur(0px) brightness(1.4);
			box-shadow: 0 0 30px 5px #fff;
		}
		50% {
			filter: blur(0px) brightness(2);
			box-shadow: 0 0 30px 5px #fff;
		}
		52% {
			filter: blur(1px) brightness(1.3);
			box-shadow: 0 0 30px 5px #fff;
		}
		60% {
			filter: blur(6px) brightness(1.22);
			box-shadow: 0 0 20px 1px #fff;
		}
		70% {
			filter: blur(8px) brightness(1.5);
			box-shadow: 0 0 30px 15px #fff;
		}
		80% {
			filter: blur(12px) brightness(1.3);
			box-shadow: 0 0 30px 10px #fff;
		}
		90% {
			filter: blur(6px) brightness(1.1);
			box-shadow: 0 0 30px 15px #fff;
		}
		100% {
			filter: blur(4px) brightness(1);
			box-shadow: 0 0 20px 5px #fff;
		}
	}

	.wikititle span {
		font-family: 'Dela Gothic One', cursive;
		font-size: 6.4rem;
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.637));
		color: white;
		padding: 0.5rem 1.2rem;
		padding-bottom:  0.6rem;
		padding-top: 0rem;
		border-radius: 2px;
		white-space: nowrap;
		text-align: center;
	}

	.wikititle img {
		border-radius: 4px;
		scale: 12;
		image-rendering: pixelated;
		rotate: 15deg;
		margin-left: 3rem;
		animation: rockxy 0.67s ease-in-out infinite;
	}

	.wikititle img:hover {
		animation: rotate 0.67s linear infinite;
	}

	.wikisubtitle {
		font-family: var(--randfont), 'Windings';
		font-size: 2.4rem;
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.534));
		color: white;
		border-radius: 4px;
		padding: 0.6rem 1.2rem;
		display: inline-block;
		margin-top:1rem;
		text-align: center;
	}

	.searcharea {
		border-top: 1rem solid;
		border-image: linear-gradient(90deg, rgb(255, 238, 0), rgb(250, 121, 35)) 1;
		border-image-slice: 1;
		align-items: center;
		display: flex;
		place-items: center;
		justify-content: center;
	}



	@media screen and (max-width: 1600px) {
		.wikititle span {
			font-size: 3rem;
			max-width: 10rem;
		}
		.wikititle img {
			scale:5;
			margin-left: 0rem;
		}

		.wikisubtitle {
			font-size: 1.8rem;
			max-width: 80%;
		}
	}


	@media screen and (max-width: 800px) {

		.wikititle span {
			font-size: 2rem;
			max-width: 10rem;
		}
		.wikititle img {
			scale:4;
			margin-left: 0rem;
		}

		.wikisubtitle {
			font-size: 1.2rem;
			max-width: 80%;
		}
	}


.emotional {
	font-family: 'Dela Gothic One';
	width: 75%;
	text-align: center;
	font-size: 1.8rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
